.header{
    width:100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*padding: 16px 24px Forma bem reduzida 16px equivale top e bottom, 24px equivale a left e right*/
    /*padding: 16px 24px 16px 24px Forma bem reduzida sentido horário começando com o top */
    /*outra forma é no lugar de px colocar rem: 16rem     é necessário baixar a extensão px to rem. O rem é mais responsivo*/
    background-color: var(--primary-color);

    /*Um elemento é centralizado dentro de outro */
    display: flex;
    /*O elemento é centralizado na horizontal Obs(row ele muda a a configuração justify-content e align-items)*/
    flex-direction: row;
    /*O elemento vai ser centralizado apartir do inicio*/
    justify-content: flex-start;
    /*O elemento é centralizado no centro do outro elemento*/
    align-items: center;
    /*Aplicar um sombra no header*/
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/

}

/*O media vai ajudar a ficar responsivo a numeração é de acordo ao bootstrap de tablet para baixo*/
@media screen and (max-width: 768px){
    /*Vai sobrepor o justify de cima*/
    .header{
        justify-content: center;
    }
}
